div.tv-switch-btn
div.tv-switch-btn *
    -webkit-tap-highlight-color transparent
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none


div.tv-switch-btn
    font-family "Roboto", "arial", "sans-serif"
    label 
        cursor pointer
        font-size .8rem
        color #757575

        > div
            display inline-block

            &.left
                margin-right 10px

            &.right
                margin-left 10px

        input[type="checkbox"]
            opacity 0
            width 0
            height 0
            box-sizing border-box
            padding 0
            margin 0
            line-height normal
            appearance checkbox

        .tv-lever
            content ""
            display inline-block
            position relative
            width 36px
            height 14px
            background-color rgba(0, 0, 0, .38)
            border-radius 15px
            transition background .3s ease
            vertical-align middle
            top -2px

            &:before
                background-color rgb(38, 166, 154)

            &:before
            &:after
                content ""
                position absolute
                display inline-block
                width 20px
                height 20px
                border-radius 50%
                left 0
                top -3px
                transition left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease

        input[type="checkbox"]:checked + .tv-lever
            background-color #84c7c1

            &:before
            &:after
                left 18px

        input[type="checkbox"]:not(:checked)
        input[type="checkbox"]:checked
            position absolute
            opacity 0
            pointer-events none
    
    